.cats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 40px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.cat-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.cat-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 1);
}

.cat-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.cat-card button {
    position: absolute;
    top: 80%;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.2s;
}

.cat-card:hover button {
    opacity: 1; 
}

.cat-card button:hover {
    transform: scale(1.1);
}

.cat-card button img {
    width: 30px;
    height: 30px;
}

.no-cats {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    color: #666;
}