.header {
    width: 100%;
    height: 64px;
    background-color:#2196F3 ;
}

.tabs {
    display: flex;
    margin-left: 60px;
}


.tab {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px; 
    height: 64px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab:hover {
    background-color: #1E88E5;
}
